:root{
  --bg1:rgb(174, 0, 255);
  --bg2:aqua;
}
body{
  background:url();background-size: cover;background: linear-gradient(to bottom left,var(--bg1),var(--bg2));height:850px;
}
h1{
  text-align: center;margin-top: 0px;
}
  .nhap{
    margin-top: 120px;
    width: 350px;
    
    padding: 10px 70px 30px;
    border-radius: 10px;
  }
  .nhap input {
    padding-left: 10px;
    margin-bottom: 10px;
    height: 45px;
    width: 100%;
    border: 1px solid #0093ab;
    outline: none;
    border-radius: 10px;
  }
  a:-webkit-any-link{
    background: linear-gradient(to bottom ,rgb(133, 190, 255),rgb(234, 129, 255));
    padding: 5px 130px 5px 130px;
    margin: 10px;
    border-radius: 5px;
  }
  button{
    padding: 5px 140px 5px 140px;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(to bottom ,rgb(133, 190, 255),rgb(234, 129, 255));
    transition: all 0.2s linear;
    
  }
  .dk:hover {
    transform: scale(1.1);
  }
  .nhap input:focus {
    border: 1px solid var(--bg--color);
  }
  .nhap input::placeholder {
    color: black;
  }
  .nhap.dn{
    display: block;
    transform: translateX(150px);
    margin-bottom: 20px;
    color: var(--bg--color);
  }
  .box{
    width: 1200px;height: 700px;background:url(anh/box.jpg);margin-left: auto;margin-right: auto;margin-top:150px;border-radius: 10px;
  }
  .box2{
    width: 500px;height: 630px;background: white;border-radius: 5px;float: right;margin-top: 35px;margin-right: 25px;
  }
